*.lock
*.bin
AIDemo/.idea/copyright/profiles_settings.xml
*.xml
AIDemo/app/app.iml
*.gradle
*.java
AIDemo/app/src/main/res/drawable/bottom_bar.9.png
*.png
AIDemo/app/src/main/res/mipmap-hdpi/chat_bg_default.jpg
*.pro
*.iml
AIDemo/local.properties
*.properties
AIDemo/gradlew
*.jar
*.jpg
AIDemo/gradlew.bat